body {
    padding-top: 5rem;
}

.navbar-custom {
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	border-bottom: 1px solid #111;
}
.card {
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	margin-bottom: 30px;
}
.icon {
	margin-left: 2px;
	width: 20px;
	height: 20px;
}
.title-image {
	margin-right: 5px;
	margin-left: -2px;
}

.colored {
	color: #F39C12;
}

.boss-image {
	padding: 3px;
}
.element-background {
	border: 1px solid #222;
	border-radius: 0.25rem;
	background: #222;
	margin-bottom: 10px;
}

.element-inner {
	padding: 3px;
}

/*text*/

.elementalist {
	color: #F68A87;
}

.mesmer {
	color: #B679D5;
}

.necromancer {
	color: #52A76F;
}

.ranger {
	color: #8CDC82;
}

.thief {
	color: #C08F95;
}

.engineer {
	color: #D09C59;
}

.warrior {
	color: #FFD166;
}

.guardian {
	color: #72C1D9;
}

.revenant {
	color: #D16E5A;
}
.effect {
	color: #eee;
	font-weight: bold;
}

::-webkit-scrollbar {
    width: 6px;
    margin-right: 2px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    opacity:0.1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.25); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
body, html {
    cursor: url(../assets/Cursors/Regular.png), auto;
}

a, .btn, .card-head {
	cursor: url(../assets/Cursors/Link.png), auto;
}