body {
    padding-top: 5rem;
}

.navbar-custom {
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	border-bottom: 1px solid #111;
}
.card {
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.25);
	margin-bottom: 30px;
}
.icon {
	margin-left: 2px;
	width: 20px;
	height: 20px;
}
.title-image {
	margin-right: 5px;
	margin-left: -2px;
}

.colored {
	color: #F39C12;
}

.boss-image {
	padding: 3px;
}
.boss-align {
	max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.element-background {
	border: 1px solid #222;
	border-radius: 0.25rem;
	background: #222;
	margin-bottom: 10px;
}

.element-inner {
	padding: 3px;
}

/*text*/

.elementalist {
	color: #F68A87;
}

.mesmer {
	color: #B679D5;
}

.necromancer {
	color: #52A76F;
}

.ranger {
	color: #8CDC82;
}

.thief {
	color: #C08F95;
}

.engineer {
	color: #D09C59;
}

.warrior {
	color: #FFD166;
}

.guardian {
	color: #72C1D9;
}

.revenant {
	color: #D16E5A;
}
.text-effect {
	color: #fff;
	font-weight: bold;
}
.healthbar {
	margin: 3px 0 0 0;
}
html {
    cursor: url(../assets/Cursors/Regular.png), auto;
}

a, .btn, .card-head {
	cursor: url(../assets/Cursors/Link.png), auto;
}

.page-background {
	background: url(https://i.imgur.com/0KrJWvW.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}